# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# Firebase secrets ONLY
*.pem
service-account.json
firebase-adminsdk*.json